#============ CUSTOM ==============

ESDT_SAFE_ADDRESS="erd1qqqqqqqqqqqqqpgqh6jre0t8tc0cw6v6dyaftmc5m83cshget4jslxur72"

ESDT_SAFE_ADDRESS_SOVEREIGN="erd1qqqqqqqqqqqqqpgqy6zpv6w9u7hw2q3y4jqr5aqgdpq95vwat4jsa27nr3"
FEE_MARKET_ADDRESS_SOVEREIGN="erd1qqqqqqqqqqqqqpgqppq64qjs57e3gvy0th60r78xzyv0mvfyt4jslkg5m9"

#============ OWNER ==============

WALLET="../wallet.pem"

#============ WASM FILES ==============

ESDT_SAFE_WASM="$SCRIPT_PATH/contracts/esdt-safe.wasm"
FEE_MARKET_WASM="$SCRIPT_PATH/contracts/fee-market.wasm"
MULTISIG_VERIFIER_WASM="$SCRIPT_PATH/contracts/multisigverifier.wasm"

#=========== CHAIN SPECIFIC CONSTANTS ===========
ESDT_SYSTEM_SC_ADDRESS=erd1qqqqqqqqqqqqqqqpqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqzllls8a5w6u
ESDT_ISSUE_COST=50000000000000000

PROXY=https://devnet-gateway.multiversx.com
CHAIN_ID=D
PRICE_AGGREGATOR_ADDRESS=erd1qqqqqqqqqqqqqpgqfsfcrxnlym0fjlnuvus2dmlz6ju9cpsfexks8wq4d4
WEGLD_TOKEN_ID=WEGLD-a28c59
USDC_TOKEN_ID=USDC-350c4e

PROXY_SOVEREIGN=http://localhost:7950
CHAIN_ID_SOVEREIGN=local-testnet

#============ ESDT SAFE DEPLOY ARGUMENTS ==============

MIN_VALID_SIGNERS=0
INITIATOR_ADDRESS=erd1gzsug2n6th3qztpvgnzqx640azvqkv5phmktrdq766tzxx0zt4jszw8672
SIGNERS=

#============ ISSUE MAIN CHAIN TOKEN SETTINGS ==============

TOKEN_TICKER=MAIN
TOKEN_DISPLAY_NAME=Mainchain
NR_DECIMALS=18
INITIAL_SUPPLY=111222333

#============ MAIN CHAIN TOKEN TO DEPOSIT ==============

DEPOSIT_TOKEN_IDENTIFIER=MAIN-321170
DEPOSIT_TOKEN_NR_DECIMALS=18
DEPOSIT_TOKEN_AMOUNT_TO_TRANSFER=123

#============ ISSUE SOVEREIGN TOKEN SETTINGS ==============

TOKEN_TICKER_SOVEREIGN=SVN
TOKEN_DISPLAY_NAME_SOVEREIGN=SovToken
NR_DECIMALS_SOVEREIGN=18
INITIAL_SUPPLY_SOVEREIGN=333222111

#============ SOVEREIGN TOKEN TO DEPOSIT ==============

DEPOSIT_TOKEN_IDENTIFIER_SOVEREIGN=SVN-704717
DEPOSIT_TOKEN_NR_DECIMALS_SOVEREIGN=18
DEPOSIT_TOKEN_AMOUNT_TO_TRANSFER_SOVEREIGN=321
